* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    color: white;
}

table {
    border: 1px solid black;
    min-width: 500px;
    min-height: 500px;
}
